@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

.success-gradient {
  background: linear-gradient(145deg, #99c7a2 65%, #c8cc7c 100%);
}

.stunts-gradient {
  background: linear-gradient(145deg, #ff6b6b 60%, #feca57 100%);
}
